.form-contact-web{
  position: relative;
  margin-left: 760px;
  margin-top: 160px;
  width: 35%;
}
.wrapper-contact-background-image{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.contact-background-image{
  width: 95%;
  height: 750px;
  margin-left: 35px;
  position: absolute;
}
